<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of CurvePoint, there are 2 buttons: Update data and Cancel to the Curve Point
			 -->
		<label for="curveId">Curve Id</label> <input type="number"
					id="curveId" th:field="*{curveId}" step="1" class="form-control"
					placeholder="Curve Id" />
				<p> 
					<span data-th-if="${exCurveId}" style="color: red"> <span
						th:text="${exCurveId}"> </span></span>
				</p>

				<label for="type">Term</label> <input type="number" id="term"
					th:field="*{term}" step="0.01" class="form-control"
					placeholder="Type" /> <br> <label for="value">Value</label> <input
					type="number" id="value" th:field="*{value}" step="0.01"
					class="form-control" placeholder="Value" /> <br> 
					<a th:href="@{/curvePoint/list}" class="btn btn-danger">Cancel</a>
					<button type="submit" class="btn btn-primary">Update CurvePoint</button>
		
		</form>
	</div>

</div>
</body>
</html>