<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

	<div style="text-align: center">
		<h3>HOME PAGE</h3>
		<p>
			<a href="/login">Login</a> or create one <a href="/user/add">User
				management</a>
		</p>

		<p data-th-if="${newUserWithNoError}" style="color: green">
			<strong> <span th:text="${newUserWithNoError}"> </span>
			</strong>
		</p>
	</div>

</body>
</html>